// Define variables to override Spectre default ones
$primary-color: #1e88e5;
$dark-bg: #212123;

// Import full Spectre source code + icons
@import 'node_modules/spectre.css/src/spectre';
@import 'node_modules/spectre.css/src/spectre-icons';

body {
  background: $dark-bg;
}

.wrapper {
  background: #fff;

  > .top {
    height: 65px;
    padding: 5px 10px;

    > .main-button,
    > .new-button {
      display: inline-block;
      vertical-align: top;
      margin-right: 5px;
      margin-top: 5px;
    }

    > .time {
      position: relative;
      width: 100px;
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 5px;

      line-height: 40px;
      font-size: 1.5em;
      letter-spacing: -1px;
      text-align: center;

      input,
      time {
        position: absolute;
        top: 0;
        left: 1px;
        width: 95%;
        background: #fff;
      }

      input {
        height: auto;
        font-size: 1.1em;
        padding: 5px 0;
        border: none;
        text-align: center;
      }

      time {
        // click through the element into the input behind it
        pointer-events: none;
      }

      input:focus + time {
        // hide the foreground element when focus in input
        display: none;
      }

      color: #999;
      em {
        color: #50596c;
      }
    }

    > .form {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
      margin-top: 5px;

      input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 0;
        padding: 2px;
        height: auto;

        &:focus {
          box-shadow: none;
          border-width: 2px;
          border-color: lighten($primary-color, 10%);
          padding-bottom: 1px; /* to counter the effect of 1px thicker border */
        }
      }
    }

    > .settings {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px;
      padding-top: 20px;
      text-align: right;

      .drag-handle {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
        width: 18px;
        height: 15px;

        cursor: move;
        -webkit-app-region: drag;

        // https://gist.github.com/abernier/1097177
        background-image: -webkit-linear-gradient(
            -90deg,
            transparent 0%,
            transparent 50%,
            white 50%,
            white 100%
          ),
          -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(
                  0,
                  0,
                  0,
                  0.1
                )
                50%, white 50%, white 100%);
        background-size: 0.25em 0.25em;
      }

      .btn {
        display: block;
        padding: 0.1rem;
        height: 1rem;
        font-size: 0.6rem;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

.list {
  .list-inner {
    height: calc(100vh - 100px);
    overflow: auto;
  }
  .list-inner::-webkit-scrollbar {
    width: 10px;
    background-color: darken(#fff, 5%);
  }
  .list-inner::-webkit-scrollbar-thumb {
    background: darken(#fff, 20%);
}
  table {
    td:first-child,
    td:last-child {
      width: 1px;
    }
    td {
      padding: 0.1rem 0.4rem;
    }
    .date-total-time {
      float: right;
      font-weight: normal;
      padding-right: 10px;
      font-size: 75%;
    }
  }
  .expand,
  .collapse {
    padding: 4px 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
  }
  .expand {
    margin-top: -30px;
  }
}

time em {
  font-style: normal;
  font-size: 125%;
}

.wrapper.collapsed {
  > .top {
    > .form {
      .project-input {
        display: none;
      }
    }
  }
}

/* Dark theme */
.wrapper.dark-theme {
  background: $dark-bg;
  color: #ccc;

  input {
    background: $dark-bg;
    color: #ccc;
    border-color: lighten($dark-bg, 10%);
  }

  .new-button .btn {
    background: $dark-bg;
  }

  > .top {
    > .time {
      input,
      time {
        background: $dark-bg;
      }

      color: #999;
      em {
        color: #ccc;
      }
    }

    > .form {
      input {
        border-color: rgba(255, 255, 255, 0.2);

        &:focus {
          border-color: darken($primary-color, 10%);
        }
      }
    }

    > .settings {
      .drag-handle {
        background-image: -webkit-linear-gradient(
            -90deg,
            transparent 0%,
            transparent 50%,
            $dark-bg 50%,
            $dark-bg 100%
          ),
          -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(
                  255,
                  255,
                  255,
                  0.1
                )
                50%, $dark-bg 50%, $dark-bg 100%);
      }
    }
  }

  .list {
    .list-inner::-webkit-scrollbar {
      background-color: lighten($dark-bg, 5%);
    }
    .list-inner::-webkit-scrollbar-thumb {
      background: lighten($dark-bg, 20%);
  }
    .table {
      th,
      td {
        border-color: lighten($dark-bg, 10%);
      }
      &.table-striped tbody tr:nth-of-type(odd),
      &.table-hover tbody tr:hover {
        background: lighten($dark-bg, 2%);
      }
    }
  }
}
