// Define variables to override Spectre default ones
//$primary-color: #2e5bec;

// Import full Spectre source code + icons
@import 'node_modules/spectre.css/src/spectre';
@import 'node_modules/spectre.css/src/spectre-icons';

.wrapper {
  display: grid;
  grid-template-columns: 50px auto auto;
  grid-template-rows: auto;
  grid-template-areas:
    'button time form'
    'list list list';

  > .main-button {
    grid-area: button;
  }

  > .time {
    grid-area: time;
    margin-right: 5px;
    line-height: 40px;
    font-size: 1.5em;
    letter-spacing: -1px;

    color: #999;
    em {
      color: #50596c;
    }
  }

  > .form {
    grid-area: form;
    height: 65px;
  }

  > .list {
    grid-area: list;
  }
}

.list {
  .list-inner {
    height: calc(100vh - 100px);
    overflow: auto;
  }
  table {
    td:first-child,
    td:last-child {
      width: 1px;
    }
    td {
      padding: 0.1rem 0.4rem;
    }
  }
  .expand,
  .collapse {
    padding: 4px 0;
    text-align: center;
    font-size: 1.5em;
    line-height: 1;
  }
  .expand {
    padding-top: 15px;
  }
}

time em {
  font-style: normal;
  font-size: 125%;
}
